.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #44355b;
    opacity: 0.85;
    border-radius: 15px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto';
    font-size: 18px;
    transition: transform 0.2s, opacity 0.3s;
}

.nav:hover {
    opacity: 1;
}


.nav button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: #eca72c;
    background: none;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

.nav button:hover {
    scale: 1.05;
    background: #ff471a;
}