/* Form.module.css */

.formContainer {
    background-image: url('../../../../public/assets/backgroundImage.jpg');
    background-size: cover;
    height: 100vh;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(69, 54, 92, 0.4); /* Fondo transparente */
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-size: 24px;
    color: #fff;
}

.back {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form {
    background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.input {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    outline: none;
    color: #fff;
}

.error {
    color: red;
}

/* Añade más estilos según tus necesidades */
