.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(69, 54, 92, 0.4); /* Fondo transparente */
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-size: 24px;
    color: #fff;
}

.back {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form {
    background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
}

.input {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    outline: none;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}

/* Añade más estilos según tus necesidades */
