* {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('assets/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.homeContainer {
    background-image: url('assets/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: row;
}