.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cambia a 3 columnas en lugar de 4 */
    gap: 40px; /* Agrega espacio entre las tarjetas */
    justify-content: space-around;
    justify-items: center;
    padding: 20px 40px;
    margin-top: 20px;
}